.mainCont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
}
.image {
  height: 70%;
  width: 100%;
  border-radius: 10px;
}
.gameName {
  font-family: 'roboto';
  font-size: 25px;
  color: #fff;
}
.desc {
  font-family: 'roboto';
  font-size: 15px;
  color: #606060;
}
