.parentCont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dark {
  background-color: #000;
}
.light {
  background-color: #fff;
}
.logo {
  height: 250px;
  width: 300px;
}
.btn {
  height: 50px;
  width: 80px;
  border: none;
  border-radius: 15px;
  background-color: #4f46e5;
  color: #fff;
  font-family: 'roboto';
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}
