.parentCont {
  min-height: 90vh;
  width: 100%;
}
.loaderCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  align-items: center;
}
.dark {
  background-color: #000;
  color: #ebebeb;
}

.light {
  background-color: #fff;
  color: #313131;
}

.bannerCont {
  height: 30%;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 30px;
}
.btn {
  width: 90px;
  height: 40px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #3b82f6;
  border: none;
  border-radius: 10px;
}

.bannerHead {
  display: flex;
  justify-content: space-between;
}

.contentCont {
  height: 70%;
  width: 100%;
  padding: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.itemCard {
  height: 350px;
  width: 400px;
  cursor: pointer;
  margin-bottom: 15px;
}
.itemUrl {
  height: 250px;
  width: 100%;
}
.userInputCont {
  display: flex;
  flex-direction: row;
  border: none;
}
.descContainer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0px;
}
.chImg {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image {
  height: 20px;
  width: 20px;
  margin-top: 20px;
}
.userValue {
  margin-bottom: 10px;
  width: 400px;
  height: 30px;
  font-size: 20px;
  border: 1px solid #e2e8f0;
  background-color: transparent;
}
.searchBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
}
.abc {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  font-size: 15px;
  font-weight: bold;
  font-family: 'roboto';
}
.name {
  font-size: 10px;
  font-family: 'roboto';
}
.videoInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.info {
  font-size: 10px;
  font-family: 'roboto';
}
.cross {
  cursor: pointer;
  height: 10px;
  width: 10px;
}
.btn2 {
  background-color: #f4f4f4;
  border: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none;
  color: inherit;
  display: block;
}
