.mainCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  position: fixed;
  padding: 10px, 30px;
}
.dark {
  background-color: #313131;
}
.light {
  background-color: #ebebeb;
}
.logoCont {
  width: 10%;
  height: 80px;
}
.siteLogo {
  width: 100%;
}
.optionsCont {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 20%;
  gap: 1%;
  justify-content: space-between;
}
.displayTheme {
  height: 20px;
  width: 20px;
}
.profile {
  height: 20px;
  width: 20px;
}
.logoutLight {
  background-color: #ebebeb;
  color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 2px;
  height: 40px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
