.mainCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background-color: #ebebeb;
  padding: 10px 30px;
}

.dark {
  height: 20px;
  width: 20px;
}

.light {
  height: 20px;
  width: 20px;
}

.logoCont {
  width: 100px;
}

.siteLogo {
  width: 100%;
  height: 80px;
}

.optionsCont {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.profile {
  height: 25px;
  width: 25px;
}

.logout {
  background-color: transparent;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  height: 36px;
  width: 90px;
  border-radius: 4px;
  cursor: pointer;
}
