.parentCont {
  width: 15vw;
  height: 90vh;
}

.dark {
  background-color: #313131;
  color: #ebebeb;
}

.light {
  background-color: #ebebeb;
  color: #313131;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  text-decoration: none;
}

.navLogo {
  height: 20px;
  width: 20px;
}

.navOption {
  font-size: 15px;
  font-family: 'Roboto';
}
