* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body.dark::-webkit-scrollbar {
  width: 8px;
}

body.dark::-webkit-scrollbar-track {
  background: #0f0f0f;
}

body.dark::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

body.dark::-webkit-scrollbar-thumb:hover {
  background: #666;
}
